.gallie__MidSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #7ecfed;
}

.gallie__MidSection img {
            height: 7rem;
}


@media screen and (max-width: 1050px) {
    .gallie__MidSection img {
        height: 4rem;
        width: 100%;
    }
}

@media screen and (max-width: 880px) {
    .gallie__MidSection {
            margin-top: -2.8rem;
        }
    
        .gallie__MidSection img {
            width: 50%;
            height: 100%;
        }
}

@media screen and (max-width: 550px) {
    .gallie__MidSection{margin-top: -2.8rem;}
    .gallie__MidSection img {
        width: 50%;
        height: 100%;
    }
}